    /* === GENERAL STYLES === */
    
    * {
        box-sizing: border-box;
    }
    /* Single-direction margin declaration to establich vertical rhythm. Harry Roberts */
    
    h1,
    h2,
    h3,
    ul,
    ol,
    dl,
    p,
    img,
    nav {
        margin-bottom: 1.5rem;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.125rem;
        line-height: 1.5;
        color: #808080;
    }
    
    #header,
    #kerelmezo-kepviselete,
    #services,
    #prices,
    #contact {
        text-align: center;
        margin: 1.5rem auto;
        padding: .5rem 1rem;
        width: 95%;
    }
    
    h1,
    h2 {
        font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    }
    
    h2 {
        font-size: 3rem;
        font-weight: normal;
        font-style: normal;
    }
    
    h3,
    li,
    dt,
    dd,
    a {
        font-size: 1.5rem;
    }
    
    a:hover {
        color: #606060;
        transition: color .15s ease-in-out;
    }
    /* === HEADER STYLES === */
    
    .header {
        display: table;
        text-align: middle;
        background-color: #fff;
    }
    
    .logo img {
        height: 9rem;
    }
    
    .logo2 img {
        height: 5rem;
    }
    
    .header-main-side a {
        text-align: middle;
        text-decoration: none;
        color: #808080;
        display: block;
    }
    /* === MAIN-SIDE STYLES === */
    
    .cover {
        background: url('https://i.imgur.com/btOBGHs.jpg') no-repeat 80% center/cover;
        display: table;
        text-align: center;
        height: 75vh;
        width: 100vw;
    }
    
    .main-info-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    .main-info-text {
        margin: 0 auto;
        padding: 2rem;
        color: hsla(0, 0%, 100%, .9);
        background: hsla(100, 0%, 0%, .5);
    }
    
    .main-info-text h1 {
        font-size: 3.15rem;
        color: hsla(0, 0%, 100%, .9);
        margin-bottom: 0;
        /* To negate the effect of the single-direction margin declaration. */
    }
    
    .tagline {
        font-size: 3rem;
        letter-spacing: .25rem;
    }
    
    .tagline::after {
        display: block;
        content: "";
        background-color: #fff;
        height: 1px;
        width: 21rem;
        margin: .5rem auto;
    }
    /* === SERVICES STYLES === */
    
    #services {
        background-color: #fff;
    }
    
    .service-name img {
        height: 7rem;
    }
    
    .service-name h3 {
        font-weight: 700;
    }
    
    .service-name div {
        font-family: 'Libre Baskerville', sans-serif;
    }
    
    .service-name::after {
        content: "";
        display: block;
        height: .1875rem;
        width: 25vw;
        margin: 1.5rem auto;
        background-color: #444349;
    }
    /* === KERELMEZO-KEPVISELETE STYLES === */
    
    #kerelmezo-kepviselete {
        width: 100vw;
        text-align: middle;
        background: #808080;
        ;
        color: #fff;
        font-family: 'Libre Baskerville', sans-serif;
    }
    
    #kerelmezo-kepviselete h2 {
        margin-top: 1rem;
        /* To account for the unequal margins compared to the previous section. */
        text-align: center;
    }
    
    #kerelmezo-kepviselete li {
        line-height: 1.8;
    }
    
    #kerelmezo-kepviselete p {
        font-style: italic;
    }
    
    #kerelmezo-kepviselete ul {
        letter-spacing: .025rem;
    }
    /* === PRICES STYLES === */
    
    #prices {
        width: 100vw;
        background: #808080;
        color: #fff;
        text-align: center;
    }
    
    #prices dt {
        margin-top: 1rem;
        /* To even out top and bottom margins. */
    }
    
    .title {
        font-weight: 700;
        margin-bottom: .5rem;
    }
    /* === CONTACT STYLES === */
    
    #contact p {
        font-size: 1.5rem;
    }
    /* === FOOTER STYLES === */
    
    .footer {
        height: 10vh;
        width: 100vw;
        background-color: #808080;
        color: #fff;
        font-family: 'Muli', sans-serif;
        display: table;
        text-align: center;
        font-size: .875rem;
    }
    
    .footer-wrapper {
        display: table-cell;
        vertical-align: middle;
        padding: .5rem 1rem;
    }
    
    footer p {
        margin-bottom: 0;
    }
    
    footer a {
        font-size: .875rem;
        color: #fff;
    }
    
    footer small {
        line-height: 1.5;
    }
    /* === RESPONSIVITY for HEADER === */
    
    @media (min-width: 768px) {
        .header {
            display: flex;
            flex-direction: row;
            background-color: #fff;
        }
        .logo img {
            float: left;
            margin-bottom: 40px;
        }
        .logo2 img {
            float: left;
            margin: 40px;
            padding-left: 15px;
        }
        .header-main-side a {
            text-align: right;
            float: right;
            padding: 15px;
            text-transform: uppercase;
            font-size: 1.125rem;
            font-weight: 700;
        }
        .header-main-side nav {
            display: flex;
            text-align: right;
            right: 0;
            position: absolute;
            padding: 50px;
        }
    }
    /* === RESPONSIVITY for MAIN-SIDE ===*/
    
    @media (min-width: 768px) {
        .main-info-text {
            padding: 1.25rem;
            border-radius: 4px;
            width: 100vw;
        }
        .main-info-text h1 {
            font-size: 7rem;
        }
    }
    
    @media (min-width: 768px) {
        .tagline {
            text-transform: uppercase;
        }
    }
    /* === RESPONSIVITY for KERELMEZO KEPVISELETE === */
    
    @media (min-width: 768px) {
        .li {
            width: 30%;
        }
    }
    /* === RESPONSIVITY for SERVICES === */
    
    @media (min-width: 768px) {
        .service-name {
            display: inline-block;
            width: 30%;
            padding: 1.5rem;
            margin: .5rem;
            box-sizing: border-box;
        }
        .service-name::after {
            display: none;
        }
    }
    /* === RESPONSIVITY for PRICES === */
    
    @media (min-width: 768px) {
        #prices {
            width: 100vw;
            margin: 0 auto;
        }
    }
    
    @media (min-width: 768px) {
        .title {
            display: inline-block;
            width: 30%;
            vertical-align: top;
            padding: 1.5rem;
            margin: .5rem;
        }
        .title::after {
            display: none;
        }
    }
    /* === RESPONSIVITY for FOOTER === */
    
    @media (min-width: 768px) {
        .footer {
            min-height: 7vh;
        }
    }